@mixin P-Jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body,
html {
  overflow-x: hidden;
}
// Header Section
.cus-header-section {
  .cus-header-cont {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4rem;
  }
  .cus-header-logo-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 0;
    width: fit-content;
    img {
      width: 80px;
    }
    h2 {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #3b4b35;
    }
  }
  .cus-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .cus-e-gov-btn-cont {
      button {
        line-height: 1;
        text-decoration: none;
        display: inline-flex;
        border: none;
        cursor: pointer;
        align-items: center;
        gap: 0.75rem;
        background-color: rgb(14, 135, 135);
        box-shadow: 0 0 10px rgba(71, 231, 231, 1),
          0 0 10px rgba(71, 231, 231, 1) inset;
        color: #fff;
        border-radius: 10rem;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color 0.3s;
        .button__icon-wrapper {
          flex-shrink: 0;
          width: 25px;
          height: 25px;
          position: relative;
          color: var(--clr);
          background-color: #fff;
          border-radius: 50%;
          display: grid;
          place-items: center;
          overflow: hidden;
        }
        &:hover {
          background-color: #000;
          background-color: rgb(11, 105, 105);
        }

        &:hover .button__icon-wrapper {
          color: #000;
        }

        .button__icon-svg--copy {
          position: absolute;
          transform: translate(-150%, 150%);
        }

        &:hover .button__icon-svg:first-child {
          transition: transform 0.3s ease-in-out;
          transform: translate(150%, -150%);
        }

        &:hover .button__icon-svg--copy {
          transition: transform 0.3s ease-in-out 0.1s;
          transform: translate(0);
        }
      }
    }
    * {
      width: fit-content;
      white-space: nowrap;
      text-transform: uppercase;
    }
    a {
      font-size: 0.9rem;
      transition: color 0.3s ease-in;
      width: fit-content;
      min-height: 0;
      margin: 0 !important;
      font-weight: 400;
      padding: 0;
      letter-spacing: 1.1px;
      position: relative;
      color: #3b4b35;
      &:hover {
        color: #2b7d0a;
      }
      &::after {
        content: "";
        background-color: #2b7d0a;
        width: 0%;
        height: 2px;
        border-radius: 20px;
        position: absolute;
        bottom: 0px;
        right: 0;
        transition: width 0.3s ease-out, right 0.3s ease-in;
      }
      &:hover::after {
        width: 90%;
        right: 5%;
      }
      .q-focus-helper {
        display: none;
      }
    }
  }
}

.cus-hero-wrapper {
  position: relative;
  .cus-hero-cont {
  }
  .cus-kachia-numbers-cont {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 22;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem;
      width: 250px;
      height: 80px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      position: relative;
      transform: translateX(0);
      animation-name: fade-in;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      right: 0;
      // &::before {
      //   position: absolute;
      //   content: "";
      //   border-radius: 10px;
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   z-index: -3;
      //   display: none;
      //   transition: all 0.3s ease-in-out;
      // }
      // // &:nth-of-type(1):hover::before {
      // //   background: #a78dd4;
      // // }
      // // &:nth-of-type(2):hover::before {
      // //   background: #8c98c6;
      // // }
      // // &:nth-of-type(3):hover::before {
      // //   background: red;
      // // }
      &:hover {
        right: 10px;
        svg {
          fill: #cacaca;
        }
      }
      &:hover::before {
        left: unset;
        right: -6px;
      }
      svg {
        fill: #868686;
        width: 40px;
        transition: all 0.3s ease-in-out;
      }
      &:nth-of-type(1) {
        background: #673ab7;
        svg {
          width: 48px;
          transform: translate(7px);
        }
      }
      &:nth-of-type(2) {
        background: #29314f;
        animation-delay: 0.3s;
      }
      &:nth-of-type(3) {
        background: #003256;
        animation-delay: 0.5s;
      }
      > div:has(p) {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;

        * {
          line-height: normal;
          font-family: "Inter", sans-serif;
          font-optical-sizing: auto;
          font-style: normal;
        }
        > p:first-child {
          color: #fff;
          font-weight: 600;
          font-size: 1rem;
        }
        > p:last-child {
          color: #fff;
          font-weight: 600;
          font-size: 2rem;
        }
      }
    }
  }
  .cus-hierarchy-showcase-cont {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    display: flex;
    border: 2px;
    justify-content: space-between;
    padding: 0 0;
    [class^="cus-hierarchy-visual"] {
      display: flex;
      height: 100%;
      align-items: end;
      > div {
        width: 180px;
        // overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:first-of-type {
        > div {
          img {
            filter: drop-shadow(0 0 10px rgba(203, 224, 203, 0.881));
          }
        }
      }
      &:last-of-type {
        flex-direction: row-reverse;
        > div {
          transform: scaleX(1);
          border: 4px solid #fff;
          box-shadow: 0 0 30px rgba(87, 191, 127, 0.628);
          border-radius: 100%;
          aspect-ratio: 1;
        }
      }
      &:first-of-type > div:nth-child(1) {
        height: 100%;
        transform: scale(1.2);
      }
      &:first-of-type > div:nth-child(2) {
        transform: scaleX(-1);
        height: 80%;
      }
      &:first-of-type > div:nth-child(3) {
        height: 75%;
        transform: scaleX(-1) translateX(20px);
      }
      &:last-of-type > div:nth-child(1) {
        width: 230px;
        position: relative;
        img {
          width: 100%;
          object-fit: contain;
          position: absolute;
        }
      }
      &:last-of-type > div:nth-child(2) {
        width: 190px;
        position: relative;
        img {
          width: 100%;
          object-fit: contain;
          position: absolute;
        }
      }
      &:last-of-type > div:nth-child(3) {
        width: 170px;
        position: relative;
        img {
          width: 100%;
          object-fit: contain;
          position: absolute;
        }
      }
    }
  }
}

// About Section
.cus-about-main {
  background: #d9ead32d;
  position: relative;
  .african-silhouette {
    position: relative;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    top: 0px;
    background: #d9ead32d;
    svg {
      width: 110%;
      fill: #a6be9d98;
      position: absolute;
      top: -30px;
    }
  }
  .cus-about-cont-1 {
    display: flex;
    width: 100%;
    gap: 110px;
    padding: 6rem 14vw 8rem;
    background: #d9ead32d;
    > div {
      flex: 1;
    }
    .cus-about-content-cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .cus-about-title-cont {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .cus-about-title {
          line-height: normal;
          font-size: 2rem;
          @include P-Jakarta();
          font-weight: 700;
          font-optical-sizing: auto;
        }
        .cus-about-sub-title {
          margin: 0 !important;
          line-height: normal;
          padding: 0 !important;
          font-weight: 600;
          // @include P-Jakarta();
          font-size: 1.1rem;
        }
      }
      .cus-about-description {
        line-height: 25px;
        // @include P-Jakarta();
        font-optical-sizing: auto;
        font-size: 1vw;
      }
    }
    .cus-about-visuals-cont {
      overflow: hidden;
      border-radius: 20px;
      .cus-visual-parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
        width: 100%;
        height: 100%;
        [class^="visual"] {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .visual-1 {
          overflow: hidden;
          grid-area: 1 / 1 / 4 / 4;
        }
        .visual-2 {
          overflow: hidden;
          grid-area: 4 / 1 / 7 / 3;
        }
        .visual-3 {
          overflow: hidden;
          grid-area: 4 / 3 / 7 / 6;
        }
        .visual-4 {
          overflow: hidden;
          grid-area: 1 / 4 / 4 / 6;
        }
      }
    }
  }
  .cus-about-cont-2 {
    display: flex;
    width: 100%;
    gap: 7rem;
    padding: 10rem 14vw 0;
    align-items: center;
    position: relative;
    isolation: isolate;
    &::after {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-image: url("/images/klogo-no-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      filter: grayscale(1);
      opacity: 0.05;
    }
    * {
      line-height: normal;
    }
    > div {
      flex: 1;
    }
    .cus-about-subject-cont {
      .cus-about-subject-visual-cont {
        display: flex;
        justify-content: center;
        aspect-ratio: 1;
        > div {
          width: 75%;
          height: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          transition: all 0.5s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .cus-about-subject-description-cont {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .cus-about-subject-bio-cont {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;
        .cus-about-subject-name {
          font-size: 2rem;
          font-weight: 700;
        }
        .cus-about-subject-office {
          font-size: 1.1rem;
          font-weight: 600;
        }
      }
      .cus-about-text-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          line-height: 25px;
          font-size: 1rem;
        }
      }
    }
  }
  .cus-agender-wrapper {
    padding: 5rem 14vw 8rem;
    * {
      line-height: normal;
      @include P-Jakarta();
    }
    .cus-agenda-title-cont {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      margin: 0 0 2rem;
      * {
        line-height: normal;
        @include P-Jakarta();
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        color: #068754;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 600;
        text-align: center;

        border-right: 0.15em solid rgb(12, 124, 83);
        font-size: 3rem;
        white-space: nowrap;
        overflow: hidden;
        border: none;

        width: 11em;
        opacity: 0;
        &.new-class {
          -webkit-animation: type2 1.5s steps(40, end);
          animation: type2 2s steps(40, end);
          -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
    }
    .cus-agendas-cont {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      > div {
        display: flex;
        gap: 10px;
        > div {
          border-radius: 9px;
          box-shadow: 0 0 20px rgba(161, 161, 161, 0.2);
          cursor: pointer;
          transition: all unset ease-in-out;
          > div {
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 5px 10px;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.05);
            }
            span {
              color: #0d4f0f;
            }
            span:nth-of-type(1) {
              font-size: 2.5rem;
              font-weight: 600;
              color: #108a00;
            }
            span:nth-of-type(2) {
              letter-spacing: 0.8px;
              // font-weight: 600;
              font-size: 0.8rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .cus-about-govnr {
    padding: 6rem 14vw 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(242, 242, 242);
    gap: 5rem;
    position: relative;
    isolation: isolate;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      background-image: url("/images/logokd.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      filter: grayscale(1);
      opacity: 0.05;
    }
    .visual-cont {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 5rem;
      > div {
        flex: 1;
      }
      > div:nth-of-type(1) {
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        > div {
          width: 75%;
          height: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scaleX(-1);
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            img {
              transform: scaleX(-1) scale(1.1);
            }
          }
        }
      }
      .oba-sani-text {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 15px;
        * {
          line-height: normal;
          // text-transform: uppercase;
        }
        p {
          line-height: 25px;
          font-size: 1rem;
        }
        h2 {
          font-size: 2rem;
          font-weight: 700;
        }
        h3 {
          font-size: 1.1rem;
          font-weight: 600;
        }
      }
    }
    .govnr-agenda {
      .type-effect {
        display: flex;
        justify-content: center;
        margin: 0 0 2rem;
        * {
          line-height: normal;
          @include P-Jakarta();
        }
        h3 {
          color: #06920a;
          text-transform: uppercase;
          letter-spacing: 8px;
          font-weight: 600;
          text-align: center;

          border-right: 0.15em solid rgb(12, 124, 83);
          font-size: 3rem;
          white-space: nowrap;
          overflow: hidden;
          border: none;

          width: 5.7em;
          opacity: 0;
          &.new-class2 {
            -webkit-animation: type2 1s steps(40, end);
            animation: type2 1s steps(40, end);
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
          }
        }
      }
      > div:not(.type-effect) {
        display: flex;
        gap: 10px;
        > div {
          border-radius: 9px;
          box-shadow: 0 0 15px rgba(161, 161, 161, 0.2);
          cursor: pointer;
          transition: all unset ease-in-out;
          background: rgb(255, 255, 255);
          transition-delay: 0.5s;
          > div {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 5px 10px;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.05);
            }
            span {
              color: #0d4f0f;
            }
            span:nth-of-type(1) {
              font-size: 2.5rem;
              font-weight: 600;
              color: #108a00;
            }
            span:nth-of-type(2) {
              letter-spacing: 0.8px;
              // font-weight: 600;
              font-size: 0.8rem;
              text-transform: uppercase;
            }
          }
          &:nth-of-type(1) {
            > div {
              span:nth-of-type(1) {
                color: #de656a;
              }
            }
          }
          &:nth-of-type(2) {
            > div {
              span:nth-of-type(1) {
                color: #92b8ff;
              }
            }
          }
          &:nth-of-type(3) {
            > div {
              span:nth-of-type(1) {
                color: #86d4ee;
              }
            }
          }
          &:nth-of-type(4) {
            > div {
              span:nth-of-type(1) {
                color: #cdc084;
              }
            }
          }
          &:nth-of-type(5) {
            > div {
              span:nth-of-type(1) {
                color: #3ab609;
              }
            }
          }
          &:nth-of-type(6) {
            > div {
              span:nth-of-type(1) {
                color: #ffe264;
              }
            }
          }
          &:nth-of-type(7) {
            > div {
              span:nth-of-type(1) {
                color: #f6bdff;
              }
            }
          }
        }
      }
    }
  }
}

// Speech Section
.cus-speech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 6rem 14vw 6rem;
  position: relative;
  isolation: isolate;
  background: #e6e6fa;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/images/klogo-no-bg.png");
    background-position: center;
    background-size: 50%;
    filter: grayscale(1);
    opacity: 0.05;
  }
  .cus-speech-section_title-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    * {
      line-height: normal;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    > div {
      width: 100%;
      h1 {
        font-size: 55px;
        @include P-Jakarta();
        font-weight: 600;
        // line-height: 1;
        letter-spacing: -2px;
        span:nth-of-type(2) {
          color: #108a00;
          font-weight: 700;
        }
      }
      h2 {
        font-size: 40px;
      }
    }
    p {
      font-size: 1.1rem;
      span {
        color: #108a00;
      }
    }
  }
  .cus-speech-main-cont {
    display: flex;
    gap: 5rem;
    .cus-speech-bio_title-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      .cus-speech-subject-visual-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        .cus-subject-visual-cont {
          width: 400px;
          max-height: 515px;
          overflow: hidden;
          border-radius: 20px;
          img {
            width: 100%;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
        [class^="cus-speech-subject-title"] {
          text-align: center;
          line-height: 0;
          padding: 8px;
        }
        .cus-speech-subject-title-1 {
          font-size: 1.2rem;
          @include P-Jakarta();
          font-weight: 600;
        }
        .cus-speech-subject-title-2 {
          text-align: center;
          font-size: 1rem;
        }
      }
    }
    .cus-speech-text-cont {
      > div {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 40px;
        > div {
          width: 340px;
          // text-align: justify;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .cus-speech-text-col-1 {
        }
        .cus-speech-text-col-2 {
          > p:last-of-type {
            span {
              color: green;
              cursor: pointer;
              transition: font-size 0.2s ease-in;
              &:hover {
                font-size: small;
              }
            }
          }
        }
      }
    }
  }
}
.cus-readmore-cont {
  background: whitesmoke;
  padding: 10px 30px 30px;
  box-shadow: 0 0 25px rgb(207, 207, 207) inset;
  .cus-readmore-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px;
    h2 {
      font-size: 1.5rem;
    }
    button {
      .q-focus-helper {
        display: none;
        text-transform: unset;
      }
    }
  }
  .cus-readmore-text-content-cont {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.cus-government-wrapper {
  padding: 6rem 14vw 6rem;
}

// Gallery Section
.cus-gallery-wrapper {
  width: 100%;
  .section-title {
    text-align: center;
    margin: 5rem 0 0;
    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #163811;
      span {
        color: #108a00;
      }
    }
  }
  .cus-gallery-cont {
    padding: 3rem 14vw 6rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1%;
    [class^="cus-visual"] {
      width: 49%;
      aspect-ratio: 1;
      box-shadow: 0 0 30px rgba(146, 146, 146, 0.3);
      position: relative !important;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      isolation: isolate;
      z-index: 1;
      flex-shrink: 0;
      margin-bottom: 0%;
      margin-left: 0%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-bottom: 1%;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      div:has(h3) {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1;
        h3 {
          font-size: 2rem;
          // @include P-Jakarta();
          font-weight: 600;
          color: #fff;
          position: absolute;
          z-index: 3;
          opacity: 0;
          top: 100%;
          left: 50%;
          transition: all 0.3s ease-in-out;
          text-align: center;
          line-height: normal;
          transform: translate(-50%, -50%);
          & {
          }
        }
        &:hover {
          h3 {
            opacity: 1;
            top: 50%;
          }
        }
        &:after,
        &::before {
          content: "";
          position: absolute;
          border-radius: 100%;
          z-index: 1;
          width: 200%;
          top: -200%;
          left: -200%;
          aspect-ratio: 1;
        }
        &:after {
          transition: all 0.6s ease-in-out;
        }
        &::before {
          transition: all 0.4s ease-in-out 0.4s;
        }
        &:hover::after {
          top: -50%;
          left: -50%;
          background: rgba(0, 0, 0, 0.342);
        }
        &:hover::before {
          top: -50%;
          left: -50%;
          background: rgba(6, 36, 37, 0.342);
        }
      }
    }
  }
  .african-silhouette-2 {
    position: relative;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    top: 0px;
    background: #fff;
    svg {
      width: 110%;
      fill: #a6be9d98;
      position: absolute;
      top: -30px;
    }
  }
}

.footer-section {
  position: relative;
  isolation: isolate;
  background: #d9ead3;
  overflow: hidden;
  .footer-background-image-cont-1 {
    position: absolute;
    top: -100px;
    left: -100px;
    overflow: hidden;
    width: 500px;
    z-index: -1;
    transform: rotate(-40deg);
    svg {
      g {
        fill: #a6be9d55;
      }
    }
  }
  .footer-background-image-cont {
    position: absolute;
    bottom: 50px;
    right: -70px;
    width: 500px;
    z-index: -1;
    transform: rotate(-40deg);
    svg {
      g {
        fill: #a6be9d93;
      }
    }
    // filter: invert(1);
  }

  .footer-wrapper {
    padding: 4rem 12rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    // height: 500px !important;
    * {
      @include P-Jakarta;
    }
    > div {
      display: flex;
    }
    .cus-column-1 {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .cus-logo-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        h2 {
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #3b4b35;
        }
        img {
          width: 100px;
        }
      }
      .cus-socials-cont {
        display: flex;
        gap: 10px;
        a {
          svg {
            width: 30px;
            height: 30px;
            fill: #3b4b35;
          }
        }
      }
    }
    .cus-column-2 {
      width: 100%;
      justify-content: space-between;
      * {
        color: #3b4b35;
      }
      > div {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .cus-description-cont {
        gap: 20px;
      }
      .cus-nav-cont {
        display: flex;
        padding-left: 20px;
        a {
          transition: color 0.3s ease-in, font-size 0.2s ease-in;
          width: fit-content;
          min-height: 0;
          text-transform: capitalize;
          margin: 0 !important;
          font-weight: 400;
          padding: 0;
          span {
            color: inherit;
          }
          &:hover {
            color: #3ab609;
            // font-size: small;
          }
          .q-focus-helper {
            background: unset;
          }
        }
      }
      .cus-email-subscribe-cont {
        > div {
          border-radius: 100px;
          display: flex;
          box-shadow: 0 0 20px rgba(109, 109, 109, 0.2);
          position: relative;
          isolation: isolate;
          overflow: hidden;
          &::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 100%;
            background: #3b4b35;
            right: 0;
            top: 0;
            z-index: -1;
          }
          input {
            width: 70%;
            padding: 15px 20px;
            border: none;
            outline: none;
            background: #e1ebdd;
          }
          a {
            flex: 1;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            letter-spacing: 2px;
          }
        }
      }
    }
    .cus-column-3 {
      gap: 50px;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 25px;
      border-radius: 200px;
      background: #cfe0c8;
      box-shadow: 0 0 10px rgba(128, 128, 128, 0.2),
        0 0 10px rgba(128, 128, 128, 0.2) inset;
      a {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 5px 15px;
        border-radius: 50px;
        background: #d9ead3;
        color: #3b4b35;
        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.cus-column-4 {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(74, 77, 71, 0.2);
  padding: 2rem 12rem 2.5rem;
  * {
    color: rgb(101, 101, 101);
  }
}

// Extras

.cus-fade-shadow {
  box-shadow: 0 0 30px rgba(202, 202, 202, 0.353);
  > img {
    filter: drop-shadow(0 0 20px rgba(117, 117, 117, 0.3));
  }
}
.cus-shadow-tabs {
  // border: 2px solid !important;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.142),
    0 0 30px rgba(125, 125, 125, 0.142) inset;
  font-weight: 600;
}

.cus-extras-1 {
  background: rgba(244, 244, 244, 0.498);
  box-shadow: 0 0 20px rgba(130, 130, 130, 0.142),
    0 0 10px rgba(130, 130, 130, 0.142) inset;
  color: red;
  h3 {
    color: rgb(13, 52, 13) !important;
  }
  p {
    color: rgb(13, 52, 13);
  }
}

.cus-tabs-active {
  background: rgb(5, 163, 52);
  color: #fff;
}

.cus-governance-wrapper {
  p {
    font-size: 1rem;
  }
  th {
    font-size: 1.1rem !important;
    border-bottom: 1px solid rgb(208, 208, 208);
  }
  td {
    font-size: 0.9rem !important;
  }
}

@keyframes fade-in {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid rgb(12, 124, 83);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid rgb(12, 124, 83);
  }
  100% {
    opacity: 1;
    border: none;
  }
}
